/***************************
  COLORS
***************************/
body {background-color: #69c4cc;}
header {background-color: #cfefee;}
nav#nav_main {background-color: #f3cecd;}
section {background-color:#fff;}
span.h1_multip {
  color: #EC008C;
  }



/***************************
  LAYOUT
***************************/

body {
  padding: 0px;
  }

a {
  text-decoration: none;
  }

header {
  width: 100%;
  display: inline-block;
  }

section#header {
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  height: 8em;
  }

section#header h1 {
  font-family: 'Corben', sans-serif;
  font-size: 2em;
  color: #702C8E;
  float: left;
  padding: 0.5em 0.5em 0;
  margin: 0;
  width: 20%;
  }

nav#nav_top li {
  width: 100px;
  padding: 0.2em 0.5em;
  border-radius: 15px;
  text-align: center;
  }

section#header h3 {
  font-family: 'Corben', sans-serif;
  font-size: 1.2em;
  color: #75CBD1;
  width: 57%;
  float: right;
  }

section div {
  float: left;
  width: 60%;
  padding: 0;
  margin: 0;
  }

section#content {
  overflow:hidden;
  }

ul#content_right {
  width: 40%;
  float: left;
  padding: 1em 0 0;
  margin: 0;
  list-style-type: none;
  }

ul#content_right img {
  float: right;
  max-width: 100%;
  padding: 0.2em 1em;
  }

section#content h2 {
  font-family: 'Corben', sans-serif;
  font-size: 1.3em;
  color: #8CB82D;
  padding: 1em;
  }

section#content p {
  color: #75CBD1;
  padding: 0 0 0 1em;
  }

section#content p.shop {
  height: 20px;
  margin: 0;
  padding: 3px 0;
  background-image: url('images/dotted_line_44x9.png');
  background-repeat: repeat-x;
  background-position: center center;
  width: 97%;
  text-align: right;
  }

section#content p.shop a {
  display: inline;
  float: right;
  background-color: #EC008C;
  color: #fff;
  padding: 0 16px;
  border-radius: 10px;
  margin-right: 2em;
}

.tree {
  float: right;
  clear: right;
  padding-top: 6em;
  }

ul#social_icons {
  width: 100%;
  margin: 0 auto;
  padding: 0;
  list-style-type: none;
  clear: both;
  }

ul#social_icons li {
  display: inline-block;
  max-width: 100%;
  text-align: center;
  margin: 0;
  padding: 2em;
  }

ul#social_icons img {
  max-width: 100%;
  }

footer nav li {
  display: inline-block;
  width: 10%;
  margin: 0
  padding: 0;
  }




/***************************
  NAVIGATION
***************************/

nav#authentication ul {
  position: relative;
  bottom: 2em;
  float: right;  
  border-right: 1px solid #blue;
  margin: 0 12em 0;
  padding: 0; 
  }

nav#authentication a {
  padding: 0 15px;
  font-weight: bold;
  color: #75CBD1;
  }

nav#authentication li:first-child {
  border-right: 2px solid #75cbd1;
  }

nav#nav_top ul {
  clear: right;
  width: 54%;
  }

nav#nav_top a {  
  padding: 0.2em 1.5em;
  color: #fff;
  width: 100px;
  border-radius: 15px;
  text-align: center;
  }

nav#nav_main {
  width:100%
  margin: 0;
  padding: 0;
  }

nav#nav_main ul {
  height: 28px;
  padding: 0;
  float: none;
  margin: 0 10em;
  text-align: center;
  }

nav#nav_main li {
  height: 28px;
  margin: 0;
  padding: 0 1.7em;
  }

nav#nav_main a {
  color: #6F1549;
  font-family: 'Corben', sans-serif;
  font-weight: bold;
  }

footer nav ul {
  margin: 0 auto;
  padding: 1em 0;
  width:100%;
  display: inline-block;
  color: #fff;
  list-style-type: none;
  text-align: center;
}




/***************************
  STYLING
***************************/

.blue_pill {
  background-color: #75CBD1;
  }

.green_pill {
  background-color: #8CB82D;
  }

.purple_pill {
  background-color: #702C8E;
  }

.pink_pill {
  background-color: #EC008C;
  }

footer {
  padding: 0 10em;
}

footer ul {
  margin: 0 auto;
  width:100%;
  display: inline-block;
  color: #fff;
  list-style-type: none;
  text-align: center;
}

footer li {
  border-right: 1px solid #fff;
  }

footer li:last-child {
  border: none;
  }

footer a {
  color: #fff;
}

section {
  margin:0 10em;
}

header {
  padding-top: 7em;
}

header ul {
  float: right;
  list-style-type: none;
}

header ul li {
  display: inline-block;
  }

section#content {
  border-bottom-left-radius: 40px;
  border-bottom-right-radius: 40px;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
}





/***************************
  MODAL
***************************/

.login_modal {
  display: none;
  }

.lightbox {
  position: fixed;
  top: 0;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  }

.login_form {
  position: absolute;
  top: 0;
  left: 50%;
  margin: 150px 0 0 -150px;
  border: 1px solid black;
  border-radius: 4px;
  width: 300px;
  background-color: #69c4cc;
  -moz-box-shadow: 1px 1px 2px 3px rgba(0,0,0,0.4);
  -webkit-box-shadow: 1px 1px 2px 3px rgba(0,0,0,0.4);
  box-shadow: 1px 1px 2px 3px rgba(0,0,0,0.4);
  }

.login_form form {
  padding: 10px;
  }

.login_form input {
  margin: 10px;
  }

.signup_modal {
  display: none;
  }


/*FORMS*/
form {
  padding: 0;
  margin: 0;
  }

[input] {
  margin: 0;
  }

nav_main form {
  padding: 6px 15px 6px 30px;
  margin: 3px;
  background-image: url('images/search.gif') no-repeat 8px 6px;
  }




/***************************
  RESPONSIVE
***************************/

@media screen and (max-width: 480px) {
  section {
    margin: 0 0.2em;
    }
  }

@media screen and (max-width: 800px) {
  section {
    margin: 0 0.7em;
    }

  header h3 {
    clear: both;
  }

  nav#authentication ul {
    margin: 0 1.7em;
    }



